OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
WEATHER_CITIES=[{"name":"Bengaluru","latitude":12.9716,"longitude":77.5946}]
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
MONGO_ATLAS_URI=mongodb+srv://<username>:<password>@<cluster-url>/
MONGO_DB_NAME=weather_db
MONGO_COLLECTION=weather_events
